
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        <input type="button" id="btnJsonResult" value="İsimleri Getir" />
    </div>

    <div>
        <ol id="isimler">

        </ol>
    </div>
</body>
</html>
